.tableContainer {
}

.tableFooter {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: grey;
    cursor: pointer;
}

.tableFooter:hover {
    color: cornflowerblue;
}

.valueCell {
    max-height: 22px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
