.fullScreenOverlay {
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
}

.fullHeightOverlay {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

.overlay {
    background-color: rgba(255,255,255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.spinnerExpander {
    width: 1px;
    height: 1px;
}
