.cardInner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    color: grey;
}

.cardInner:hover {
    color: cornflowerblue;
}

.cardIcon {
    font-size: 64px;
}
