.cardContainer {
    cursor: pointer;
}

.cardContainer:hover {
    color: cornflowerblue;
}


.configImage {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.meta {
    color: inherit;
}
