.header {
    background-color: rgba(255,255,255, .5);
}

.headerInner {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.headerText {
    margin: unset;
}

.navbarContainer {
    margin-bottom: -18px;
}

.navbarContainer
[class~=ant-tabs] {
    line-height: 2.57;
}


.userBadgerWrapper {
    margin-left: auto;
}
